*{
    margin: 0;
    padding: 0;
}
html {
    height: 100vh;
    overflow: hidden;
}
body {
    background: url(../Images/CityColor.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
    height: 100vh;
    overflow-y: scroll;
}
.container {
    margin-top: 80px;
    color: white;
    
}
    .jumbotron-fluid {
        background-color: transparent;
        font-size: 60px;
        text-align:center;
        
    
    }
    .content h1 {
        text-align: center;
        margin-top: 50px;
    }
    .content h2{
        text-align: left;
        width: 50%;
        margin: auto;
    }
    .content p {
        text-align: left;
        font-size: 1.5em;
        text-indent: 50px;
        font-family: Ubuntu;
        
    }
    
    .content img {
        width: 20%;
        float:right;
        text-align:right;
        margin-right: 5%;
        margin-left: 2%;
        border-radius: 5px;
        border:3px solid white;
    }
    .content #resHeader h1{
        font-size: 5em;
    }
    .content #resContactInfo h3 {
        text-align: center;
        font-size:1.5em;
        width: 25%;
    }
    .resume h2{
        text-align: left;
        margin: 0;
        margin-top: 20px;
    }
    .resume li {
        margin-left: 50px;
    }
#outer {
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
#typewriter {
        color: white;
    display:inline-block;
    font-size: 60px;
} 
#outer #typewriter {
        color: white;
    display:inline-block;
    font-size: 7em;
}  

#outer .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: white;
    font-size: 7em;
}
.typed-cursor {
        opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: white;
    font-size: 60px;
}
#mobileNav{
    display:none;
    
}
.listbuttongroup {
   
    display: flex;
    justify-content: center;
    
}

    .listbuttongroup a {
        margin:0 10px 0 10px;
        float: left;
        padding: 0px 5px 0px 5px;
        color: white;
        border: 2px solid white;
    }
        .listbuttongroup a:hover {
        background-color:white;
        color: black;
        text-decoration: none;
        
    }
    .indexlistbuttongroup {
   
    display: flex;
    justify-content: center;

}

    .indexlistbuttongroup a {
        margin:0 10px 0 10px;
        float: left;
        padding: 0px 5px 0px 5px;
        color: white;
        border: 2px solid white;
        font-size: 2.2em;
    }
    .indexlistbuttongroup a:hover {
        background-color: white;
        color: black;
        text-decoration: none;
    }
#ContactMe {
    width: 70%;
    display:flex;
    justify-content: space-between;
    float: none;
    padding: 20px;
    margin-top: 20px;

}

    #ContactMe input{
        color: black;
        
    }
    #ContactMe #btnSubmit {
        width: 150px;
        color: black;
        font-size: 1.5em;
        font-size-adjust: 1em;
    
        
    }
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
footer {
    position: fixed;
    width:100%;
    bottom: 5px;
    right: 5px;
}

    footer a {
        
        padding-left: 10px;
        

    }

        footer a img {
            float:right;
            width: 60px;
            margin-right: 15px;
            
        }
#indexFooter {
    position: fixed;
    bottom: 2px;
    left: 10px;

    color: white;

}
@media (max-width: 768px) {
    footer {
        top: 5px;
        left: 0px;
        width: 100%;
        height: 51px;
    }
        footer a {
            float: left;
        }
    #outer {
        height: 65vh;
        margin-top: 50px;
    }
    #outer #typewriter {
        color: white;
        overflow-wrap: break-word;
        display: inline;
        font-size: 50px;
    }   
    #outer #typewriterWrapper {
        margin-bottom: 10px;
        vertical-align: bottom;
    }
    #outer .typed-cursor {
        opacity: 1;
        -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
        color: white;
        font-size: 50px;
        
        
    }
    .navbar-brand {
        font-size: 15px;
        
        
    }
    .navbar-toggle {
        margin-bottom: 0;
    }
    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        width: 200px;
        font-size: 1.5em;
        z-index: 5;
        width:53%;
        
        
    }
    #mobileNav {
        display: block;
        width: 30%;
    }
    .content h2 {
        width: 100%;
        margin:0;
    }
    .content p {
        font-size: 15px;
    }
    .content img {
        float:right;
        width: 40%;
    }
    .listbuttongroup {
        display: none;
    }
    .indexlistbuttongroup {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
        .indexlistbuttongroup a {
            width: 100%;
            margin-bottom: 10px;
        }
#ContactMe fieldset{
    width:90%;
}
.content #resContactInfo h3 {
        text-align: center;
        font-size:.9em;
        width: 25%;
    }


}