body, html {
    height: 100%;
  }
.blog-container {
    background-color: #52a4d8;
    min-height: 100vh;
    height: 100vh;
    overflow: scroll;
}
.blog-wrapper {
    width: 70%;
    margin: 40px auto 0 auto;
    background-color: #FFF;
    
}
.blog-header {
    height: 30vh;
    position: relative;
    overflow: hidden;
}
.blog-header-bkrnd {
    background-image: url('../img/headerimg.png');
    height: 100%;
    margin: -10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    z-index: 0;
    filter: blur(3px);
    overflow: hidden;
}
.blog-header-content {
    color: white;
    text-shadow: 1px 1px 10px black;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
    pointer-events: none;
}
.blog-header-content h1 {
    font-size: 6vmin;
    font-weight: bold;
    text-decoration: underline;
}
.blog-header-content h2 {
    font-size: 2.5vmin;
    text-align: center;
    font-weight: bold;
}
.blog-content .paragraph {
    font-size: calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
    margin-top: 30px;
    padding: 20px;
    pointer-events: none;
}
.blog-content .paragraph div:first-child {
    font-weight: bold;
    margin-top: 10px;
}
.blog-content-imgs {
    display: flex;
    justify-content: left;
    
    align-content: flex-start;
    flex-wrap: wrap;
}
.blog-content-imgs img {
    width: 300px;
    height: 100%;
    margin: 20px;
    border: 1px solid black;
    transition: all .2s ease-in-out;
}
.blog-content-imgs img:hover {
    
    box-shadow: 0px 0px 20px 0px black;
}
.blog-content .paragraph a {
    pointer-events: all;
}
@media (max-width: 768px ) {
    .blog-header-content h1 {
        font-size: 7.5vmin;

        font-weight: bold;
        text-decoration: underline;
    }
    .blog-header-content h2 {
        font-size: 5vmin;
    }
    .blog-wrapper {
        width: 100%;
        margin-top: 0;
    }
    .blog-wrapper .paragraph {
        font-size: calc(18px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
        line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
    }
    .blog-content-imgs img {
        max-width: 300px;
        max-height: 100%;
    }
}