.blogs-container {
    background-color: #52a4d8;
    overflow: scroll;
    height: 100vh;
    
}
.blogs-wrapper {
    width: 85%;
    margin: 50px auto 0 auto;
    background-color: #52a4d8;
    display: flex;
    justify-content: center;
    
    align-content: flex-start;
    flex-wrap: wrap;
    
}
.phantom {
    visibility: hidden; 
}
@media (max-width: 768px) {
    .blogs-wrapper {
        width: 100%;
    }
}


