

.header-wrapper {
    display: flex;
    justify-content: space-between;  
    background-color: white;
    align-items: center;
    height: 5vh;
    border-bottom: .1em solid black;
    
    z-index: 0;
}
.nav-wrapper {
    
}
.nav-large {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    text-align: center;
    
}
.nav-item {
    margin: 0 1em 0 1em;
    color: black;
    display: block;
    font-size: 1.5em;
}
.nav-item:hover {
    color: #2980b9;
}
.social-wrapper {
    display:flex;
    justify-content: right;
    text-align: right;
}
.social-wrapper img {
    margin: 20px 20px 20px 0;
    max-width: 2em;
    max-height: 2em;
    
}


.nav-mobile {
    visibility: hidden;
}
@media (max-width: 768px) {
    .nav-large {
        visibility: unset;
    }
    .nav-mobile {
        visibility: unset;
    }
    .social-wrapper img {
       
    }
}