

.header-wrapper {
    display: flex;
    justify-content: space-between; 
  
    align-items: center;
    height: 10vh;
    border-bottom: .1em solid black;
    
    z-index: 0;
}
.nav-wrapper {
    
    display: flex;
    flex-direction: row;

}
.nav-item {
    color: black;
    display: block;
    margin: 10px;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
    
}
.nav-item:hover {
    color: #2980b9;
}
.social-wrapper {
    display: flex;
    width: 12em;
 
   
}
.social-wrapper img {
    width: 100%;
    height: auto;
    padding: 0 10px 0 10px;
    
}



.nav-mobile {
    visibility: hidden;
}
@media (max-width: 768px) {
    
    .nav-large {
        visibility: unset;
    }
    .nav-mobile {
        visibility: unset;
    }
    .social-wrapper {
        width: 10em;
    }
    .social-wrapper img {
       
    }
}