.container {
    scroll-behavior: smooth;
}

.container .typed {
    font-size: 10vmin;
    margin-left: 2em;
    color: white;
    display: flex;
    align-items: center;
    height: 90%;
    pointer-events: none;
}
.container .top {
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-color: #52a4d8;
    font-family: Arial, Helvetica, sans-serif
}
.container .scrollto {
    text-align: center;
    height: 10%;
    -webkit-animation: flickerAnimation 2.5s infinite;
    -moz-animation: flickerAnimation 2.5s infinite;
    -o-animation: flickerAnimation 2.5s infinite;
     animation: flickerAnimation 2.5s infinite;
}
.scrollto p {
    font-size: 1.5em;   
    color: white;
}
.scrollto img {
       
}
#about {
    padding-top: 50px;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    /* border-bottom: 1px solid lightgray; */
    padding-bottom: 20px;
}
#about-image {
    width: 250px;
    height: 100%;
    border-radius: 200px;
}
#about-content {
    font-size: 1.8rem;
    margin-left: 50px;
    margin-top: 50px;
    width: 75%;
    font-family: Arial, Helvetica, sans-serif;
    
}
#content-wrapper {
    width: 75%;
    margin: auto;
    /* background-color: lightgrey; */
    margin-top: 50px;
    justify-content: space-evenly;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}
.content-item {
    width: 400px;
    /* background-color: lightgray; */
}
.content-item h2 {
    font-weight: 500;
    font-size: 2.2em;
    border-bottom: 1px solid rgba(220,220,220, 1);
    text-align: center;
}
.exp-item {
    
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    /* background-color: rgba(220,220,220, .3); */
    margin-bottom: 10px;
    
}
.exp-item .title {
    
    
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.exp-item .title .right {
    display: inline;
}
.exp-item .title .right .comp {
    font-size: 1.5rem;
}
.exp-item .title .right .job {
    font-size: .95em;
    font-family: sans-serif;
    font-style: oblique;
}
.exp-item ul {
    list-style-type: none;
}
.exp-item ul > li:before {
    content: "-";
    position:absolute;
    margin-left: -1em;
    
}
.skill {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    align-content: flex-start;
    flex-wrap: wrap;
}
.skill img {
    margin: auto;
    width: 34%;
    padding-top: 20px;
    padding-bottom: 20px;
}
@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }

  @media(max-width: 768px) {
      .container .top {
          height: 35vh;
      }
      .container .typed {
        
         margin: auto;
      }
      .scrollto{
          visibility: hidden;
         
      }
  }