.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    scroll-behavior: smooth;
}

.container .typed {
    font-size: 10vmin;
    margin-left: 12vmin;
    color: white;
    display: flex;
    align-items: center;
    height: 85vh;
    width: 100vw;
    pointer-events: none;
}
.container .top {

    background-color: #52a4d8;
}
.container .scrollto {
    text-align: center;
    height: 12vh;
    -webkit-animation: flickerAnimation 2.5s infinite;
    -moz-animation: flickerAnimation 2.5s infinite;
    -o-animation: flickerAnimation 2.5s infinite;
     animation: flickerAnimation 2.5s infinite;
}
.scrollto p {
    font-size: 1.5em;   
    color: white;
}
.scrollto img {
       
}
.container .skills {
    background-color: white;
    text-align: left;
    padding-top: 100px;
    padding-bottom: 100px;
    pointer-events: none;
    scroll-behavior: smooth;
    
}
.container .skills .image {
    text-align: center;
    margin: auto;
}

.skill-box {
    
}
.skill {

}



.about-wrapper {
    background-color: #52a4d8;
    pointer-events: none;
}

.about-wrapper {
    padding: 190px 100px 190px 100px;
}
.prof-img {

}
.prof-img img {
    
}
.prof-img-wrapper {

}
.abt-text {
    color: white;
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }

  @media(max-width: 768px) {
    .container .skills {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .skills .grid .grid {
        
    }
    .about-wrapper{
        
      
    }
    .about-wrapper h1 {
        
    }
  }