.container {
    scroll-behavior: smooth;
}

.container .typed {
    font-size: 10vmin;
    margin-left: 2em;
    color: white;
    display: flex;
    align-items: center;
    height: 90%;
    pointer-events: none;
}
.container .top {
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-color: #52a4d8;
    font-family: Arial, Helvetica, sans-serif
}
.container .scrollto {
    text-align: center;
    height: 10%;
    -webkit-animation: flickerAnimation 2.5s infinite;
    -moz-animation: flickerAnimation 2.5s infinite;
    -o-animation: flickerAnimation 2.5s infinite;
     animation: flickerAnimation 2.5s infinite;
}
.scrollto p {
    font-size: 1.5em;   
    color: white;
}
.scrollto img {
       
}
#about {
    padding-top: 75px;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;

}
#about-image {
    width: 250px;
    border-radius: 200px;
}
#about-content {
    font-size: 25px;
    margin-left: 50px;
    margin-top: 15px;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
}



@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }

  @media(max-width: 768px) {
      .container .top {
          height: 35vh;
      }
      .container .typed {
        
         margin: auto;
      }
      .scrollto{
          visibility: hidden;
         
      }
  }